html,
body,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/bg1.webp")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.top-nav-collapse {
    background-color: #fff;
}


/* @media screen and (max-width: 991px) {
  .brand-logo{
    padding-right: 0px;
  }
} */

.navbar.navbar-dark .navbar-toggler-icon{
    background-color: #f48634 !important;
    /* padding: 9px; */
    border-radius: 3px !important;

}
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link{
    color: #000 !important;}
.call{
	font-size: 1.5em;
}

.navbar{
	box-shadow: 0 8px 6px 0 rgba(0,0,0,.16), 0 4px 7px 0 rgba(0,0,0,.12) !important;
}

/* @media screen and (max-width: 400px) {
	.navbar-toggler{
		position: absolute;
	    /* float: right; */
	

 /* cards style    */
 /* cards style */
.card-read{
    color: #fff;
}
.card-title{
    color: #ED7D2F;
}
.hoverable:hover{
    border: 1px solid orange;
    border-bottom: none;
}
#theImg{
    position: absolute;
    top:  5%;
    left: 3%;
}
.view_more{
    background-color: #ED7D2F !important;  
}

    /*  @media only screen and (max-device-width: 950px) {
  .fix-modal {
     width: 100%;
    position: fixed;
    z-index: 5;
    left: -1%;
    top: 93%;
} */

.fix-modal {
        transform :rotate(90deg);
          z-index : 5;
             top: 50%;
             left: 91%;
             position: fixed;
}

@media only screen and (max-width: 600px) {
  .fix-modal {
            width: 101%;
            position: fixed;
            z-index: 5;
            left: -2%;
            transform: none;
            top: 92%;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .fix-modal {
            position: fixed;
            z-index: 5;
            left: 87%;
            top: 50%;
  }
}
@media only screen and (min-width:1024px) and (max-width: 1366px) {
  .fix-modal {
          
            left: 93%;
  }
}
@media only screen and (min-width:360px) {
 #intro{
    height: 106%;
  }
}

 @media only screen and (min-width:411px) and (max-width: 731px) {
 #intro{
    height: 82%;
  }
  .fix-modal{
    top: 93%;
  }
  .card-deck{
        width: 115%;
  }
}

@media only screen and (min-width:375px) and (max-width: 667px) {
  .card-deck{
    width: 100%;
  }
}

.btn{
    box-shadow: 0 2px 5px 0 rgb(251, 251, 251), 0 2px 10px 0 rgb(255, 255, 255) !important;

}
