.navbar {
	background-color: #5d00b1 !important;
}
.social{
	transition: 0.3s;
}
.social:hover{
	transform: scale(2.5);
	cursor: pointer;
	
}

.profile-image{
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transition: 0.3s;
	transition-property: border;
	transition-duration: 0.4s;
	width: 80%;
}
.profile-image:hover{
 transform: scale(1.1);
 border-top:none; 
 border-right: none;
 border-bottom: 5px solid #fff;
 border-left: 5px solid #fff;
 border-radius: 50%;
}

.project-image{
	transition: 0.3s;
	width: 80%;
}
.project-image:hover{
	transform: translate(-7px, -7px);
	box-shadow: 10px 10px 20px #020530;
}

.page-header {
    min-height: 600px !important;
}
.work{
	margin: 0 auto;
}
.logo{
	width: 10%;
}