.header nav.menu > ul > li {
    padding: 0px 15px !important	;
}
.header.transparent-header nav.menu > ul>li>a {
    color: #2e9cca !important;
}


.header nav.menu .cr-megamenu-wrap {
    position: absolute;
    background: #29648a !important;
}
.cr-btn, a.cr-btn, button.cr-btn {
    background: #e42221 !important;
    }

.header nav.menu .cr-megamenu-single {
    border-right: none !important;
}

.header nav.menu li.cr-dropdown ul {
background-color: #2e9cca !important;
}

.mobile-logo>img{
width: 50%;
}


.latest{
	display: flex;
	justify-content: center;

}

.header {
    border-bottom: 1px solid #2e9cca !important;
}

.latest-news {
background-color: #4abdac;
color: #fff !important;	

}
.latest-news>p {
	color: #fff !important;
}
.latest-news>h3{
	color: #fff !important;
}

.emp-news {
background-color: #4abdac;
color: #fff !important;	
padding: 10px;
overflow:hidden;
  
}

.emp-news>p {
	color: #fff !important;
}
.emp-news>h3{
	color: #fff !important;
}
.emp-news {
background-color: #2e9cca;
color: #fff !important;	
padding: 10px;
width:100%;
height:102%;
overflow:hidden;
  
}

.emp-news>p {
	color: #fff !important;
}
.emp-news>h3{
	color: #fff !important;
}

.holder .mask {
  position: relative;
  left: 0px;
  top: 5px;
  height:340px;
  overflow: hidden;
}
.holder ul {
 list-style: none;
  margin:0;
  padding-left:11px;
  position: relative;
}
.holder ul  li a:hover{
  color: blue;
}
.holder ul li a {
  color:#fff;
  text-decoration:none;
}
#news-item{
color: #fff !important;

}
#news-item:hover{
color: blue !important;
}
@media (min-width: 768px)
{
.col-md-5 {
    -ms-flex:0 0 45% !important;
    flex: 0 0 45% !important;
    max-width: 45.666667% !important;
    }
}
.section-title{
	padding-top: 5px;
	margin-bottom: 5px !important;
}
.header nav.menu .cr-megamenu-wrap {
  justify-content: space-around !important;
}

.footer-social li a {
	color: #2e9cca !important;
}

p.footer-copyright {
	color: #2e9cca !important;
}    
#ticker01>ul>a>li{
  font-size: 12px !important;
}
.fa-phone,.fa-map-marker, .fa-envelope{
  font-size: 20px !important;
  color: #2e9cca;
}
.magazine{
  display: flex;
  justify-content: center;
  background-color: #2e9cca9e;
}
.section-padding-lg{
  padding-bottom: 50px !important;
}


/* carousel */

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 300px;
    overflow:hidden;
}

.publication{
  background-color: #eaeaea;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #2e9cca !important;
    }